.about {
    &__text-top-l {
        margin-top: 45px;
        text-transform: uppercase;
        @include font("Poppins", 16, rgba(51, 51, 51, 1.0));
        font-weight: 700;
    }
    &__text-main-l {
        @include font("Poppins", 56, rgba(51, 51, 51, 1.0));
        font-weight: 700;
    }
    &__text-l {
        @include font("Source Sans Pro", 16, rgba(51, 51, 51, 1.0));
        font-weight: 600;
        margin: 25px 0;
    }
    &__btn {
        background-color: rgba(200,109,215,1);
        border: none;
        border-radius: 24px;
        color: white;
        padding: 12px 47px;
        margin-bottom: 60px;
    }
    &__box-r {
        background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
        margin-left: 50px;
        padding:  47px 47px 30px;
        margin-right: auto;
    }
    &__img-r {
        width: 315px;
        height: 301px;
        position: relative;
        top: -78px;
        left: -78px;
        @media (min-width: 992px) {
            top: -30px;
            left: -30px;
        }
    }
    &__text-main-r {
        @include font("Poppins", 40, white);
        font-weight: 700;
    }
    &__text-r {
        @include font("Source Sans Pro", 16, rgba(255, 255, 255, 0.5));
        font-weight: 400;
    }
}