.explore {
    background: rgba(48,35,174,1);
    position: relative;
    &__block {
        justify-content: space-between;
        padding-top: 1px;
    }
    &__title-top {
        text-transform: uppercase;
        @include font("Poppins", 16, white);
    }
    &__title-main {
        @include font("Poppins", 56, white);
    }
    &__boxes {
        flex-basis: 50%;
        margin: 93px 0 50px;
        @media (min-width: 992px) {
            margin: 93px 0 121px;
        }
    }
    &__box-btn {
        display: flex;
        align-items: center;
        padding-bottom: 100px;

        @media (min-width: 992px) {
            padding: 160px 0 176px;
        }
    }
    
    &__btn {
        padding: 12px 58px;
        border-radius: 24px;
        color: white;
        
        &:hover {
            color: white;
            text-shadow: 0 0 2px black;
            box-shadow: 0 0 7px rgb(255, 255, 255);
        }
    }  
}
.circle{
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    position: absolute;
    &_left {
        width: 140px;
        height: 80px;
        left: -60px;
        bottom: 0;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    }
    &_top {
        width: 100px;
        height: 100px;
        top: -50px;
        right: 33%;
        border-radius: 50%;
    }
    &_right {
        width: 170px;
        height: 210px;
        border-radius: 100% 0 0 0;
        bottom: 0;
        right: 0;
        @media (min-width: 756px) {
            width: 355px;
            height: 190px;
            border-radius: 50% 50% 0 0/100% 100% 0 0;
            bottom: 0;
            right: 19%;
        } 
    }
}